<header class="home align-<%= theme.home.align %>">
  <img src="<%= theme.home.logo %>" alt="Logo" title="<%= config.title %>">
</header>

<article>
  <% site.pages.filter(p => p.source === 'index.md').each(index => { %>
    <%- index.content %>
  <% }) %>
  <hr>
  <h2>Latest posts</h2>
  <%- partial('_archive', { posts: page.posts }) %>
</article>

<%- partial('_footer') %>
